$primary: #FFFFFF;
$primary-light: #ffffff;
$primary-dark: #cccccc;

$secondary: #edecec;
$secondary-light: #f7f7f7;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #A1A1A1;
$on-secondary: #fff;

$primary-blue: #0066B1;

$highlight: #FA4141;